.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 25px auto; 
}

.gallery-item {
  margin: 25px;
  text-align: center; 
}

.gallery-item img {
  width: 210px; 
  height: auto;
}

.gallery-item figcaption {
  font-style: italic; 
  font-size: 22px;
}

body {
  background-image: url("img.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  font-family: 'Times New Roman', Times, serif; /* Set a base font for your website */
}

.contact-info span {
  font-size: 1.2em;
}

.contact-info span:nth-child(1) {
  color: dark brown;
}

.contact-info span:nth-child(2) {
  color: dark brown;
}

.contact-info span:nth-child(3) {
  color: dark brown;
}

body {
  background-image: url("img.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif; 
}

.blog-post {
  margin: 20px; 
  padding: 10px;
  border: 1px solid #f086c0; 
  border-radius: 5px; 
}

.blog-post h2 {
  font-size: 1.2em; 
  margin-bottom: 5px; 
}

body {
  background-image: url("img.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif; 
}

section {
  margin: 20px; 
  padding: 10px; 
  border: 1px solid #f086c0; 
  border-radius: 5px; 
}

section h2 {
  font-size: 1.2em; 
  margin-bottom: 5px; 
}

@font-face {
  font-family: 'MyVintageFont'; 
  src: url('myvintagefont.ttf') format('truetype'); 
}

body {
  font-family: 'MyVintageFont', cursive;
}